/*Fuente importada*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #333;
}
body {
    font-family: 'Open Sans',sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
header{
    width: 100%;
    height: 50px;
    background: #333;
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
/*Contenedor*/
.contenedor{
    width: 98%;
    margin: auto;
    
}
@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}

h1{
    float: left;
}
/*Menu*/
#menu-bar{
    display:none;
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
.menu{
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform:translateX(-100%) ;
}
header .contenedor{
    display: table;
}
.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);

}
.menu a:hover{
    background:rgba(255,255,255,0.3) ;    

}
#menu-bar:checked ~ .menu{
    transform:translateX(0%) ;
}

@media (min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform:translateX(0%);
        float: right;
        display: flex;
    }
    header label {
        display: none;
        
    }

}

.calculator{
    position:relative;
    display: grid;
}
.calculator .value{
    grid-column:span 4;
    height: 100px;
    text-align: right;
    border:none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    font-size: 21px;
}
.calculator span{
    display: grid;
    width: 80px;
    height: 100px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.calculator span:active{
    background: gray;
    color:#111;
}
.calculator span.clear{
    grid-column: span 2;
    width: 160px;
    background: rgb(144, 99, 16);
}
.calculator span.plus{
    grid-row: span 2;
    height: 200px;
}
.calculator span.equal{
    background: rgb(144, 99, 16);
}
@media (width:320px){
    .calculator .value{
        grid-column:span 4;
        height: 100px;
        text-align: right;
        border:none;
        outline: none;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
        
    }
    .calculator span{
        display: grid;
        width: 80px;
        height: 90px;
        color: #fff;
        background: #0c2835;
        place-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .calculator span.clear{
        grid-column: span 2;
        width: 160px;
        background: rgb(144, 99, 16);
    }
    .calculator span.plus{
        grid-row: span 2;
        height: 180px;
    }
}
@media (width:360px){
    .calculator .value{
        grid-column:span 4;
        height: 100px;
        text-align: right;
        border:none;
        outline: none;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
        
    }
    .calculator span{
        display: grid;
        width: 90px;
        height: 104px;
        color: #fff;
        background: #0c2835;
        place-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .calculator span.clear{
        grid-column: span 2;
        width: 180px;
        background: rgb(144, 99, 16);
    }
    .calculator span.plus{
        grid-row: span 2;
        height: 208px;
    }
}
@media (width:375px){
    .calculator .value{
        grid-column:span 4;
        height: 100px;
        text-align: right;
        border:none;
        outline: none;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
        
    }
    .calculator span{
        display: grid;
        width: 94px;
        height: 110px;
        color: #fff;
        background: #0c2835;
        place-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .calculator span.clear{
        grid-column: span 2;
        width: 188px;
        background: rgb(144, 99, 16);
    }
    .calculator span.plus{
        grid-row: span 2;
        height: 220px;
    }
}
@media (width:414px){
    .calculator .value{
        grid-column:span 4;
        height: 100px;
        text-align: right;
        border:none;
        outline: none;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
        
    }
    .calculator span{
        display: grid;
        width: 104px;
        height: 110px;
        color: #fff;
        background: #0c2835;
        place-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .calculator span.clear{
        grid-column: span 2;
        width: 208px;
        background: rgb(144, 99, 16);
    }
    .calculator span.plus{
        grid-row: span 2;
        height: 220px;
    }
}
@media (max-width:280px){
    .calculator .value{
        grid-column:span 4;
        height: 100px;
        text-align: right;
        border:none;
        outline: none;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        font-size: 18px;
        margin-top: 20px;
        
    }
    .calculator span{
        display: grid;
        width: 70px;
        height: 80px;
        color: #fff;
        background: #0c2835;
        place-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .calculator span.clear{
        grid-column: span 2;
        width: 140px;
        background: rgb(144, 99, 16);
    }
    .calculator span.plus{
        grid-row: span 2;
        height: 160px;
    }
}
