/*Fuente importada*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #333;
}
body {
    font-family: 'Open Sans',sans-serif;
}
header{
    width: 100%;
    height: 50px;
    background: #333;
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
/*Contenedor*/
.contenedor{
    width: 98%;
    margin: auto;
    
}
@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}

h1{
    float: left;
}
/*Menu*/
#menu-bar{
    display:none;
}
header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}
.menu{
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform:translateX(-100%) ;
}
header .contenedor{
    display: table;
}
.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);

}
.menu a:hover{
    background:rgba(255,255,255,0.3) ;    

}
#menu-bar:checked ~ .menu{
    transform:translateX(0%) ;
}

@media (min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform:translateX(0%);
        float: right;
        display: flex;
    }
    header label {
        display: none;
        
    }

}
/*Footer*/
.copy{
    font-size:20px;
    text-align: center;
    color: #fff;

}
.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a{
    color:#fff;
    text-decoration:none;
}
@media (min-width:768px){
    .sociales{
        width: auto;
    }
    footer .contenedor{
        justify-content: space-between;
    }
}
@media (max-width:320px){
    .sociales{
        width: auto;
    }
}

form {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding-bottom: 30px;
    margin: auto;
    background: black;
  }
  input[type=textfield] {
      border-color: black;
      width: 75%;
      padding: 40px 32px;
      font-size: 40px;
      margin: 8px 3px;
      text-align: right;
      color: white;
      background: black;
  }
  input[type=button], input[type=submit], input[type=reset] {
      background-color: grey;
      border-radius: 50%;
      font-family: Verdana;
      color: white;
      border: rgb(241, 179, 62);
      padding: 30px 33px;
      font-size: 15px;
      min-width: 2%;
      text-decoration: none;
      margin: 4px 3px;
      cursor: pointer;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: rgb(175, 175, 175);
  }
  @media (max-width:320px){
      input[type=button], input[type=submit], input[type=reset] {
          background-color: grey;
          border-radius: 50%;
          font-family: Verdana;
          color: white;
          border: rgb(241, 179, 62);
          padding: 17px 32px;
          font-size: 9.5px;
          min-width: 2%;
          margin: 6px 1px;
          cursor: pointer;
      }
  }

