/*Fuente importada*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #333;
}
body {
    font-family: 'Open Sans',sans-serif;
}
header{
    width: 100%;
    height: 50px;
    background: #333;
    color:#fff;
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 100;
}
/*Contenedor*/
.contenedor{
    width: 98%;
    margin: auto;
    
}
@media (min-width:1024px){
    .contenedor{
        width: 1000px;
    }
}

h1{
    text-align: center;
}

/*Banner*/
section{
    width: 100%;
    margin-bottom: 25px;
}
#banner {
    margin-top:50px;
    position: relative;
}
#banner img{
    width: 100%;
    height: 100%;
}
#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    color: #fff;
    background: rgba(51, 51, 51, 0.3);
    
}
#banner h2{
    font-size: 28px;
    text-align: center;
}
@media (max-width:320px){
    #banner h2{
        font-size: 23px;
        text-align: center;
    }
}

#banner div a:hover{
    background: rgba(51, 51, 51, 0.5);
}


@media (min-width:768px){
    #banner{
        height: 300px;
        overflow: hidden;
    }
    #banner img {
        height: auto;
        margin-top: -100px;
    }
    
}
@media (min-width:1024px){
    
    #banner img { 
        margin-top: -200px;
    }
    #subtitulo{
        margin-top: -20px;
    }
    
}
@media (min-width:1916px){
    
    
    #subtitulo{
        display: none;
    }
}
#categorias {
    background: #333;
    color: #fff;
    text-align: center;
}
#categorias .contenedor{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info{
    margin:20px;
}
.info a img {
    width: 128px;
    height: 128px;
    border-radius: 10%;
    border: 3px solid #333;
}

@media (max-width:320px){
    .info a img {
        width: 90px;
        height: 90px;
        border-radius: 10%;
        border: 3px solid #333;
    }
    .info h4 {
        font-size: 11px;
    }
}

@media (min-width:480px){
    .info{
        width: 40%;
    }
}
@media (min-width:1024px){
    .info{
        width: 40%;
    }
}




